@charset "UTF-8";
/* CSS Document */

#ciuadposition * {
margin: 0;
padding: 0;
font-size: 11px;
}

#ciuadposition {
border: 0;
margin: 3px 0;
padding: 10px;
background-color: #e1e1e1;
display: table;
}

#ciuadposition a, #ciuadposition a:visited, #ciuadposition a:link {
color: #000;
text-decoration: none;
font-size: 11px;
font-weight: normal;
}

#ciuadposition a:hover {
text-decoration: underline;
}